input[name="court_booking_settings[redirect_url]"],
input[name="court_booking_settings[court_booking_text_field_0]"] {
   width: 100%;
   max-width: 23.75rem !important;
}

#date-time-picker input[type="text"] {
   margin-right: 0.625rem;
}

#add-datetime {
   cursor: pointer;
   background-color: #4CAF50;
   color: white;
   border: none;
   padding: 0.3125rem 0.625rem;
   border-radius: 5px;
}

.remove-datetime {
   cursor: pointer;
   background-color: rgb(231, 144, 144);
   border: none;
   padding: 4px 15px;
   border-radius: 5px;
}

.wp-core-ui select {
   min-width: 50px;
}

table.form-table tr:nth-child(3) {
   display: none;
}
